services:
  minecraft:
    container_name: "neoforgeserver"
    image: ghcr.io/alvarosdev/docker-neoforge-zulu:latest
    # Uncomment below to build locally instead of using the image
    # build:
    #   dockerfile: ./Dockerfile
    #   context: ./
    # restart: unless-stopped
    environment:
      MEMORYSIZE: "2G"
      # Use `id -u` and `id -g` to get your user and group IDs
      PUID: ""
      PGID: ""
      # RCON settings for healthcheck (optional, set in server.properties)
      # RCON_PASSWORD: "minecraft"
    volumes:
      - ./neoforge_data:/data:rw
    ports:
      - "25565:25565"
    stdin_open: true
    tty: true
